div(class='navbar_left')
  div(class='navbar')
    ul 
      li(class="menu-item" data-id="home" role="button")
        span  
      li(class="menu-item" data-id="about" role="button") 
        span 
      li(class="menu-item" data-id="product" role="button") 
        span 
      li(class="menu-item" data-id="specification" role="button") 
        span 
  div(class='vertical_line')
  div(class='scroll_arrow')
    p Scroll 
    img(src="arrow.svg" alt="Arrow" height="50px") 