//- https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda

div(class='login_box')
  h2 Login
  form(id='tg')
    div(class='user_box')
      input(type='text' name='name' maxlength='20' required='')
      label Ваше имя
    div(class='user_box')
      input(type='tel' name='phone' maxlength='12' required='')
      label Телефон
    div(class='user_box')
      input(type='text' name='model' maxlength='50' required='')
      label Модель устройства
    div(class='user_box')
      input(type='text' name='description' maxlength='80' required='')
      label Неисправность
    div(class='message_success' id='success' style='display: none') 
        h1 UUU---UUU
    button(type='submit') Send
    a(href='#') Отправить
      span
      span
      span
      span
      



