//- https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda
//- https://codepen.io/ainalem/pen/GRqPwoz

div(class='login_box')
  h2 Оставить заявку
  form(id='telegram_form')
    div(class='user_box')
      input(type='text' name='name' maxlength='20' required='')
      label Ваше имя
    div(class='user_box')
      input(type='tel' name='phone' maxlength='20' required='')
      label Телефон
    div(class='user_box')
      input(type='text' name='model' maxlength='50' required='')
      label Модель устройства
    div(class='user_box')
      input(type='text' name='description' maxlength='80' required='')
      label Неисправность
    div(class='checkbox')
      label(class='container') Хочу чтобы мне перезвонили
        input(type='checkbox' id="checkbox" name='feedback')
        span(class='checkmark')
    button(class="sendform_button" type='submit' title="Отправляя форму, вы даете согласие на обработку своих данных") Отправить
      span
      span
      span
      span
