div(class='header_left' data-hystmodal="#myModal")
    img(src="logo_main.png" alt="Logo")
nav(class='header_navbar')
    ul 
        li(class="menu-item" data-id="home" role="button") Home
        li(class="menu-item" data-id="about" role="button") About
        li(class="menu-item" data-id="product" role="button") Product
        li(class="menu-item" data-id="specification" role="button") Specification
//- span(class='tumbler_box')
//-     span(class='tumbler_dot')