div(class='header_left' data-hystmodal="#myModal")
    img(src="logo_main.png" alt="Logo")
nav(class='header_navbar')
    ul 
        li 
            span Home
        li  
            span About
        li  
            span Product
        li  
            span Specification
//- span(class='tumbler_box')
//-     span(class='tumbler_dot')