doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div(class='wrapper')
            header 
                div(class='headerLeft')
                    img(src="logitech-logo-white.png" alt="Logo")
                div(class='headerNavbar')
                    ul 
                        li Home 
                        li About 
                        li Product 
                        li Specification 
            main
                article  
                    section(class='section sectionOne')
                        div(class='navbarLeft')
                            div(class='navbar')
                                ul 
                                    li(class='active')
                                        div 
                                    li 
                                        div 
                                    li 
                                        div 
                                    li 
                                        div 
                            div(class='verticalLine')
                            div(class='scrollArrow')
                                p Scroll 
                                img(src="arrow-long.svg" alt="Arrow" height="50px")
                        div(class='contentCenter')
                            div(class='contentDescr')
                                h1 Forge your firepower
                                h2 All-new G604 for battle royale mastery, focus your skill a nd own every moment of the figth.
                                p Маkе your weapons play harder in the configuration you deem fittest. Use the 15 programmable controls, LIGHTSPEED or Bluetooth® wireless, HERO 16K sensor, and 240 hour battery life to be the fastest gunslinger on the battlefield.
                                button(class='bn5') Play Advanced
                            div(class='contentImage')
                                img(src="example.png" alt="")
                        div(class='navbarRigth')
                            div(class='verticalLine')
                            div(class='navbar')
                                ul 
                                    li 
                                        img(src="telephone.svg" alt="Call")
                                    li 
                                        img(src="telegram.svg" alt="Telegram")
                                    li  
                                        img(src="whatsapp.svg" alt="Whatsapp")
                    section(class='section sectionTwo')
                        div(class='navbarLeft')
                            div(class='navbar')
                                ul 
                                    li(class='active')
                                        div 
                                    li 
                                        div 
                                    li 
                                        div 
                                    li 
                                        div
                            div(class='verticalLine')
                        div(class='contentSectionTwo')
                            div(class='contentImage')
                                img(src="example-two.png" alt="")
                                div(class='contentDescr')
                                    h1 Make your play
                                    p Маkе your weapons play harder in the configuration you deem fittest. Use the 15 programmable controls, LIGHTSPEED or Bluetooth® wireless, HERO 16K sensor, and 240 hour battery life to be the fastest gunslinger on the battlefield.
                                    button(class='bn5')
                aside 
            footer 

